.welcome-container {
    margin: 5.6rem 2rem 1rem;
}

.welcome-container__title {
    font-size: 3rem;
}

.welcome-container__title i {
    color: #B71C1C;
}

.welcome-container__description {
    font-size: 2rem;
    color: #9E9E9E;
}