.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: #9E9E9E;
    padding: 0 2rem;
    margin: 2rem;
}

.cuerpo h2 {
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #E53935;
}

.cuerpo__div {
    width: auto;
}

.cuerpo__div i{
    margin: 1rem;
    color: #EEEEEE;
    font-size: 3rem;
}